.total-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
}

h1 {
    margin-bottom: 5px;
    font-size: 40px;
    margin-top: 0;
}

h4 {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 100;
}

h3 {
    font-weight: 200;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.custom-input {
    width: 400px;
    height: 30px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 13px;
    background-color: #36CFA2;
    font-size: 16px;
    text-align: left;
    outline: none;
    font-size: 200;
    color: black;
}

a {
    text-decoration: none;
    color: grey;
    display: flex;
    text-align: left;
    font-size: 13px;
}

.forgot-password {
    margin-right: 280px;
}

.admin-register {
    text-decoration: none;
    color: grey;
    text-align: left;
    font-size: 14px; 
    margin-left: 10px;
    margin-top: 60px;
}

button {
    background-color: #F9BC60;
    border: none;
    border-radius: 10px;
    padding: 9px 18px;
    color: black;
    font-size: 14px;
    cursor: pointer;
    font-weight: 300;
    margin-top: 10px;
}


@media screen and (max-width: 500px) {
    .total-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100vh;
    }
    
    h1{
        margin-bottom: 1vh;
        font-size:6vh;
    }
    h4{
        margin-top: 1vh;
        font-size:2vh;
        font-weight: 100;
    }
    h3{
        font-weight: 300;
        font-size: 2.3vh;
    }
    
    .custom-input {
        width: 32vh;
        height: 5vh;
        padding: 1vh;
        margin: 1vh;
        border: none;
        border-radius: 1.3vh;
        background-color: #36CFA2;
        font-size: 1.6vh;
        text-align: left;
        outline: none;
        font-size: 200;
        color: black;
    }
    
    a {
        text-decoration: none; 
        color: grey; 
        display: block; 
        text-align: left; 
        font-size: 15px;
    }
    
    .forgot-password {
        margin-right: 110px;
    }

    button{
        background-color: #F9BC60; 
        border: none; 
        border-radius: 10px; 
        padding: 10px 20px; 
        color: black; 
        font-size: 16px; 
        cursor: pointer;
        font-weight: 400;
        margin-top: 10px;
    }
}