<div class="total-container">
    <div>
        <h3>Cantidad de Reclamos Gestionados</h3>
    </div>
    <div class="date-filter">
        <select class="custom-select" id="monthSelect" [(ngModel)]="selectedMonth" (change)="onMonthChange()">
            <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
        </select>
        <select class="custom-select" id="yearSelect" [(ngModel)]="selectedYear" (change)="onMonthChange()">
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
    </div>
    <div class="bar-chart">
        <canvas id="surveyChart"></canvas>
    </div>
</div>