<div class="total-container">
    <div class="rectangule">
        <div>
            <h1>Seleccione un Consorcio</h1>
            <div class="line"></div>
            <button class="button-user" (click)="GoToUsers()"><i class="fa-solid fa-user fa-2x"></i></button>
        </div>
        <div style="margin-top: 30px">
            <input type="text" 
                    class="custom-input" 
                    placeholder="Buscar">
            <button class="button-search">Buscar</button>
        </div>
        <div class="consortiums-container">
            <div class="consortium" *ngFor="let c of consortiums">
                <button (click)="selectConsortium(c.Id)" class="consortiums-button">
                    {{c.Name}}
                    <br>
                    {{c.Location}}
                </button>    
                <button class="trash" style="color: rgb(40, 40, 152);" (click)="EditConsortium(c.Id)"><i class="fa-solid fa-pen fa-2x"></i></button>  
                <button class="trash" (click)="RemoveConsortium(c.Id)"><i class="fa-solid fa-trash fa-2x"></i></button>    
            </div>        
        </div>
        <div style="margin-top: 1.5rem; 
                    margin-right: 25px;
                    margin-left: 25px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        ">
           <button class="back-login" (click)="BackLogin()">Volver</button>
           <button class="add-consortium" (click)="addConsortium()"><i class="fa-solid fa-plus fa-2x"></i> </button>
        </div>
    </div>


</div>
