.checkbox{
    transform: scale(2);
    margin: 5px;
}

.modal-content {
    background-color: #ABD1C6;
    padding: 20px;
    border: 1px solid #888;
    max-width: 80%;
    height: 450px;
    width: 600px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.table-container {
    max-height: 350px; 
    overflow-y: auto; 
}

.modal-content table {
    width: 100%; 
}
  
button {
    background-color: #F9BC60;
    border: none;
    border-radius: 10px;
    padding: 8px 17px;
    color: black;
    font-size: 13px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 10px;
}


.table-container::-webkit-scrollbar {
    width: 12px; 
}

.table-container::-webkit-scrollbar-track {
    background-color: transparent; /* Color del riel de la barra de desplazamiento */
    margin-left: 50px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 2px; 
}
.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cambia el color del pulgar al pasar el mouse sobre él */
}
