@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');

body{   
    font-family: 'Doppio One', sans-serif; 
}

.backgroud-login{
    background: linear-gradient(135deg, #ECFFF7, #A9FFE6);
}

.background-admin{
    background: black
}
