
<div class="total-container">
    <div class="header">
        <h2>Estadisticas</h2>
    </div>
    <div class="stats">
        <div class="row1">
            <div class="pie-chart">
                <app-pie-chart></app-pie-chart>
            </div>
        </div>
        <div class="row2">
            <div class="bar-chart">
                <app-number-claims-chart></app-number-claims-chart>
            </div>
            <div class="line-chart">
                <app-line-chart></app-line-chart>
            </div>
        </div>
    </div>
</div>

