.pie-chart {
  margin: 1rem 1rem 0 1rem;
  max-width: 100%;
}

.line-chart {
  width: 28.5rem;
  max-width: 100%;
  text-align: center;
  color: white;
}

.bar-chart {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3{
  margin: 0;
}

.stats {
  display: flex;
  flex-direction: row;
}

.header{
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}

h2{
  margin: 0;
  color: white;
}

.total-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh
}