<div class="container-claims">
    <div class="filter-container">
        <label for="">Causa de Reclamo</label>
        <select style="width: 120px; height: 30px;" class="custom-input">
            <option value="" disabled>Estado</option>                
        </select>
        <label for="">Departamento</label>
        <input type="text" name="Deparment" class="custom-input" style="width: 50px;">
        <label for="">NroReclamo</label>
        <input type="text" name="ClaimNumber" class="custom-input" style="width: 50px;">
        <label for="">Fecha Desde</label>
        <input type="date" name="CreationDate" class="custom-input" style="width: 120px;">
        <label for="">Fecha Hasta</label>
        <input type="date" name="ExpirationDate" class="custom-input"  style="width: 120px; margin-right: 10px;">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div class="states-container">
        <ng-container *ngFor="let state of statesCount">
            <button class="custom-button" (click)="ChangeState(state.stateID)">
                <span class="left-text">{{ getStateText(state.stateID) }}</span>
                <div class="circle">
                    <span class="number-inside">{{ state.count }}</span>
                </div>
            </button>
        </ng-container>
        <button class="custom-button" (click)="ChangeState(0)">
            <span class="left-text">Todos</span>
            <div class="circle">
                <span class="number-inside">{{ totalClaims }}</span>
            </div>
        </button>
    </div>
    <div class="info-container">        
        <app-claims-info *ngFor="let claim of ClaimsList" [Claim]="claim" [IsAdmin]="true" (_Reaload)="Reload()"></app-claims-info>
    </div>
</div>




