.modal-content {
    background-color: #ABD1C6;
    padding: 20px;
    border: 1px solid #888;
    max-width: 80%;
    position: relative;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.line{
    max-width: 800px;
    height: 1.5px;
    margin-top: 10px;
}

.custom-select {
    width: 230px;
    height: 40px;
    border: none;
    border-radius: 13px;
    background-color: #36CFA2;
    font-size: 16px;
    text-align: left;
    outline: none;
    color: black;
}

.custom-input{
    width: 200px;
    margin-right: 20px;
    height: 20px;
}

label{
    margin-right: 10px;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
}

.aling-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button {
    background-color: #F9BC60;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    color: black;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    margin-top: 10px;
}
