.container {
    background-color: #36CFA2;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.menu-toggle {
    display: none;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    cursor: pointer;
}

.menu {
    display: flex;
    position: absolute; 
    top: 50px; 
    left: 0; 
    z-index: 1; 
    transition: all 0.3s ease; 
    transform: translateX(-100%); 
}

.inicio{
    font-size: 30px;
    font-weight: 500;
    color: white;
    margin-right: 10px;
}
.menu.active {
    display: flex;
    width: 230px;
    height: 500px;
    background-color: #36CFA2;
    transform: translateY(0);
}

.menu-icon {
    width: 60px;
    height: 20px;
    background-color: white;        
    margin: 3px;
    margin-left: 8px;
    border-radius: 8px;
}

@media screen and (max-width: 600px) {
    .menu {
        display: flex;
        position: absolute; 
        top: 0px; 
        left: 0; 
        z-index: 1; 
        transition: all 0.3s ease; 
        transform: translateX(-100%); 
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        align-items: start;
        cursor: pointer;
    }

    .menu.active {
        display: flex;
        width: 270px;
        height: 700px;
        background-color: #36CFA2;
        transform: translateY(0);
    }   

    .menu-icon {
        width: 60px;
        height: 20px;
        background-color: white;        
        margin: 3px;
        margin-left: 8px;
        border-radius: 8px;
    }
    .menu-content{
        margin: 0 auto  ;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    h1{
        margin: 20px 0 0 0;
        font-size: 30px;
    }
    h3{
        margin: 0;
    }
    h4{
        font-size: 10px;
    }
    button{
        display: flex;
        align-items: center;  
        border: none;
        background-color:transparent;
        font-size: 15px;
        color: black;
        font-weight: 600;
        padding: 0;
        margin: 10px 0 5px 5px;
    }
}
