<div class="container-navbar">
    <div class="menu-flex">
        <div class="menu-toggle" (click)="toggleMenu()">
            <div class="menu-icon"></div>
            <div class="menu-icon"></div>
            <div class="menu-icon"></div>
        </div>
        <div class="title">{{title}}</div>
    </div>    
    <div class="menu" [class.active]="isMenuOpen" (click)="closeMenu($event)">
        <div class="menu-content">
            <h1>Consorcio Gest</h1>
            <div class="line"></div>
            <h4>Sistema de gestion de Consorcios</h4>
            
            <h3><!--{{User.name}}--></h3>
            <h3>Condominio: <!--{{User.condominium}}--></h3>
            <div class="line" style="margin-top: 30px; width:250px;"></div>
            <button>
                <i class="fa-solid fa-calendar-days fa-2x" style="margin-right: 7px; color: black;"></i>
                Cuenta
            </button>
            <button (click)="title = 'Realizar Reclamo'" routerLink="/main-page-user/claim-user">
                <i class="fa-solid fa-calendar-days fa-2x" style="margin-right: 7px; color: black;"></i>
                Realizar Reclamos
            </button>
            <button (click)="title = 'Seguimiento de Reclamo'" routerLink="/main-page-user/claim-traking">
                <i class="fa-solid fa-calendar-days fa-2x" style="margin-right: 7px; color: black;"></i>
                Seguimiento de Reclamo
            </button>
            <button (click)="title = 'Reservas'" routerLink="/main-page-user/reservation-common-spaces">
                <i class="fa-solid fa-calendar-days fa-2x" style="margin-right: 7px; color: black;"></i>
                Reservas
            </button>

            <div class="line" style="width:250px;"></div>
            <button>
                <i class="fa-solid fa-power-off fa-2x" style="margin-right: 7px; color: black;"></i>
                Cerrar Sesion
            </button>
        </div>
    </div>
</div>