<div class="total-container">
    <div class="rectangule">
        <h2 style="margin: 0;">Confirmacion de Consorcio a Guardar</h2>
        <div class="line"></div>
        <div style="margin-right: 20px;">
            <h2>Datos</h2>
            <h3>Nombre: {{consortiumConfig.Name}} </h3>
            <h3>Ubicacion: {{consortiumConfig.Location}} </h3>
            <h3>Cuit: {{consortiumConfig.CUIT}} </h3>
        </div>
        <div class="container-headers">
            <div>
                <h2>Bloques</h2>
            </div>
            <div>
                <h2>Espacios Comunes</h2>                
            </div>
        </div>
        
            <div *ngFor="let item of consortiumConfig.Towers">
                <h3>{{item.name}}<i class="fa-solid fa-eye" style="margin-left: 10px;" 
                    (click)="ShowConfigTower(item)"></i></h3>      
            </div>
            <div *ngFor="let item of consortiumConfig.CommonSpaces">
                <h3>{{item.name + ' - ' + item.hourFrom + ' - ' + item.hourTo }}</h3>
            </div>

        <button (click)="Save()">Confirmar</button>
            
    </div>
</div>
<app-show-config-tower 
    *ngIf="_OpenShowConfigModal"
    (_ShowModal)="CloseModal()"
    (_IsEdit)="IsEdit($event)"
    [tower]="selectedTower"
></app-show-config-tower>