.container {
  display: flex;
  height: 100vh; 
}

.sidebar {
  width: 230px;
  background-color: #004643;
  text-align: center;
}
.line{
  background-color: white; 
  border: none;
}

.content {
  flex-grow: 1; 

}

h1 {
  color: white;
  margin-bottom: 0;
  font-weight: 200;
  font-size: 25px;
}
h4{
  margin-top: 5px;
  font-weight: 100;
  font-size: 9px;
  color: white;
}

.items{
  margin-top: 12px;
}

.items-session{
  font-size: 16px;
  font-weight: 400;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;  
  border: none;
  background-color:transparent;
  font-size: 15px;
  color: white;
  font-weight: 600;
  padding: 0;
}