table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: #8A9292;
}

th {
    background-color: #36CFA2;
    color: black;
}

.filter-container{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.filter-container 
button {
    background-color: #F9BC60;
    border: none;
    border-radius: 10px;
    padding: 10px 12px;
    color: black;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;   
}

.custom-input {
    width: 100px;
    height: 10px;
}
label{
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}

.table-container {
    display: flex;
    margin: 30px;
}
button{
    background-color: transparent;
}

.filter-container {
    display: flex;
    align-items: center;
}

.icono:hover:not([disabled]) {
    filter: brightness(120%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.icono[disabled]:hover {
    filter: brightness(100%);
    box-shadow: none;
}