<div class="filter-container">

    <input type="text" 
    name="Email" 
    class="custom-input" 
    placeholder="Correo Electrónico">
    <input type="text" 
    name="Email" 
    class="custom-input" 
    placeholder="Correo Electrónico">
    <input type="text" 
    name="Email" 
    class="custom-input" 
    placeholder="Correo Electrónico">
    <input type="text" 
    name="Email" 
    class="custom-input" 
    placeholder="Correo Electrónico">

</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Documento</th>
                <th>Nombre Completo</th>
                <th>Condominio</th>
                <th>Ocupacion</th>
                <th>Contacto</th>
                <th>Perfil</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.document}}</td>
                <td>{{user.name}}</td>                
                <td>{{user.condominium}}</td>
                <td>{{user.property}}</td>
                <td>{{user.phone}} <br> {{user.email}}</td>
                <td>{{user.profile}}</td>
                <td>{{user.state}}</td>
                <td>      
                    <button 
                    *ngIf="user.state != 'Pendiente de Aprobacion'"
                    [disabled]="user.state === 'Habilitado'"
                    (click)="ActivateUser(user.document)" 
                    class="icono" 
                    style="color: green; margin-right: 8px; background-color: transparent; border: none;"
                    >
                    <i class="fa-solid fa-check fa-2x" style="color: green;"></i>
                    </button>
                    <button 
                    *ngIf="user.state != 'Pendiente de Aprobacion'"
                    [disabled]="user.state === 'Deshabilitado'"
                    (click)="DeactivateUser(user.document)" 
                    class="icono" 
                    style="color: red; margin-right: 8px; background-color: transparent; border: none;"
                    >
                    <i class="fa-solid fa-ban fa-2x" style="color: red;"></i>
                    </button>
                    <button 
                    *ngIf="user.state != 'Pendiente de Aprobacion'"
                    (click)="EditUser(user.document)" 
                    class="icono" 
                    style="color: lightblue; margin-right: 8px; background-color: transparent; border: none;"
                    >
                    <i class="fa-solid fa-pen fa-2x" style="color: lightblue;"></i>
                    </button>
                    <button 
                    *ngIf="user.state == 'Pendiente de Aprobacion'"
                    (click)="EditUser(user.document)" 
                    class="icono" 
                    style="color: lightblue; margin-right: 8px; background-color: transparent; border: none;"
                    >
                    <i class="fa-solid fa-pen fa-2x" style="color: lightblue;"></i>
                    </button>
                </td>
            </tr>            
        </tbody>
    </table>
</div>