<div *ngIf="loading" class="modal-container">
    <div class="spinner-border loading" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="modal-container" *ngIf="_ShowModal && !loading">
    <div class="modal-content">
        <span class="close" (click)="CloseModal()">&times;</span>
        <div class="content">
            <h1>Cancelar Reserva</h1>
            <h3>Motivo de cancelacion:</h3>
            <textarea class="styled-textarea" name="" id="" cols="30" rows="5" [(ngModel)]="message"></textarea>
            <button (click)="CancelReservation()">Cancelar Reserva</button>
        </div>
       
    </div>
</div>