<div class="rectangule">
    <div class="header">
        <h2>{{commonSpace.commonSpaceName}}</h2>
        <i class="fa-solid fa-pen" style="color:black"></i>
    </div>
    <div class="line"></div>
    <div class="count">
        <h3>Cantidad</h3>
        <div class="circle">
            <span class="number-inside">{{commonSpace.countReservations}}</span>
        </div>
    </div>
    <div class="footer">
        <button [disabled]="commonSpace.active === true" (click)="UpdateCommonSpace(commonSpace.id,true)">
            <i style="color: green;" class="fa-solid fa-check fa-2x" [ngClass]="{'disabled': commonSpace.active === true}"></i>
        </button>
        <button [disabled]="commonSpace.active === false" (click)="UpdateCommonSpace(commonSpace.id,false)">
            <i style="color: red;" class="fa-solid fa-ban fa-2x" [ngClass]="{'disabled': commonSpace.active === false}"></i>
        </button>
        <button [disabled]="!commonSpace.active " (click)="ShowGrid(commonSpace.id)">
            <i class="fa-solid fa-plus fa-2x"></i>
        </button>

    </div>
</div>