
.table-container {
    max-height: 15rem;
    max-width: 30rem;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 0.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    color: #333;
}

th, td {
    padding: 0.2rem;
    text-align: center;
}

th {
    font-weight: bold;
    text-transform: uppercase;
}

.floor-row {
    background-color: #e0f7fa;
    color: #00796b;
}

.deparment-row {
    background-color: #fff;
    color: #333;
}

.floor-input {
    width: 3rem;
    background-color: #00796b;
    color: white;
    border-radius: 0.2rem;
    border: 0;
    text-align: center;
    padding: 0.25rem;
}

.deparments-input {
    width: 3rem;
    border-radius: 0.2rem;
    border: 1px solid #ccc;
    text-align: center;
    padding: 0.25rem;
}

.fa-plus {
    cursor: pointer;
    color: #00796b;
    font-size: 1.2rem;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    color: #999;
}

.close:hover {
    color: #333;
}

.disabled-table {
    pointer-events: none; 
    opacity: 0.6;
}

