
<div class="table-container">
  <table #tableRef [ngClass]="{'disabled-table': tableDisabled}">
    <thead>
      <tr>
        <th>Piso</th>
        <th>Dep</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let floor of ObtenerPisosUnicos(tower.floorDepartment); let i = index">
        <tr>        
          <td>
            <input (input)="EmitDataTable()" class="floor-input" type="text" [value]="floor">
          </td>
          <td *ngFor="let department of ObtenerDepartamentosPorPiso(floor)">
            <input (input)="EmitDataTable()" class="deparments-input" type="text" [value]="department.department">
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
