<div class="modal-container" *ngIf="_ShowModal">
    <div class="modal-content">
      <span class="close" (click)="CloseModal()">&times;</span>
      <table #tableRef>
        <thead>
          <tr>            
            <th>Piso</th>
            <th>Dep</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let floor of ObtenerPisosUnicos(tower.floorDepartments); let i = index">
            <tr>
              <td><i (click)="AddFloor(i)" class="fa-solid fa-plus"></i></td>
              <td>                
                <input class="floor-input" type="text" [value]="floor">
              </td>           
              <td *ngFor="let department of ObtenerDepartamentosPorPiso(floor)">
                <input class="deparments-input" type="text" [value]="department.department">
              </td>
              <td><i (click)="AddDeparment(i)" class="fa-solid fa-plus"></i></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
        <button (click)="Save()">Guardar</button>
        <button (click)="CloseModal()">Cerrar</button>
    </div>
</div>
  
