<div class="container-info-claim">
    <div class="header">
        <h2>Nro Reclamo: {{Claim.claimNumber}}</h2>
        <h2>{{Claim.state}}</h2>
    </div>
    <div class="line"></div>
    <div class="content">
        <h4>Causa del Problema:</h4>
        <h4 class="weight">{{Claim.causeClaim}}</h4>
        <h4>Fecha: {{Claim.date}}</h4>
        <h4 *ngIf="IsAdmin">Condominio: {{Claim.condominium}}</h4>
        <h4>Espacio Afectado: {{Claim.affectedSpace}}</h4>
        <button *ngIf="IsAdmin" (click)="VerMas()">Ver Mas</button>
    </div>
</div>

<app-see-more-claim
    *ngIf="_ShowModal"
    (_ShowModal)="CloseModal()"
    (_Reaload)="Reaload()"
    [Claim]="Claim"
></app-see-more-claim>