.survey-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    padding-top: 3rem;
    background-color: #ABD1C6;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

.survey-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

.question-container {
    margin-bottom: 20px;
    width: 100%;
}

.question-title {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.question-select, .question-comment {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.question-comment {
    margin-top: 10px;
    resize: vertical;
}

.button-tab {
    background-color: #F9BC60;
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    color: black;
    width: 200px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button-tab:hover {
    background-color: #e0a849;
}
