<div class="survey-container" *ngIf="!_IsCompleted">
    <h2 class="survey-title">Contesta nuestra encuesta por favor</h2>
    <div *ngFor="let q of questionOptions; let i = index" class="question-container">
        <h3 class="question-title">{{q.question}}</h3>
        <select [(ngModel)]="q.optionSelectedID" class="question-select">
            <option *ngFor="let option of q.options" [value]="option.optionID">{{option.option}}</option>
        </select>
        <textarea 
            *ngIf="ShowTextArea(q.optionSelectedID, i)" 
            [(ngModel)]="q.comment" 
            placeholder="Comentario" 
            class="question-comment">
        </textarea>
    </div>
    <button class="button-tab" (click)="Confirm()">Confirmar</button>
</div>

<div class="survey-container" *ngIf="_IsCompleted">
    <h2 class="survey-title">Gracias por contestar la encuesta</h2>
</div>
